name: release container image
on:
  push:
    tags:
      - '*'
permissions:
  packages: write

jobs:
  gorelease:
    name: build and push kubernetes-toolkit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Login to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: "ghcr.io"
          username: ${{ github.actor }}
          password: ${{ secrets.TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Release container image to Github
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
